# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so
.venv/
venv/
env/

# ENV
.env
*.env.local

# IDE
.idea/
.cursor/
*.swp

# Docker
.docker/

# Alembic
migrations/versions/*.py

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db